body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* :root means our variable is visible across all elements of a page. */
:root {
  --footer-height: 60px;
  --logo-height: 8rem;
}

/* Apply box-sizing: border-box to every element on the page.
It will help us calculate elements' geometry more easily. */
*,
*::after,
*::before {
  box-sizing: border-box;
}
