body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* :root means our variable is visible across all elements of a page. */
:root {
  --footer-height: 60px;
  --logo-height: 8rem;
}

/* Apply box-sizing: border-box to every element on the page.
It will help us calculate elements' geometry more easily. */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset default button style to ensure our keys render
more or less equally. */
button {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: auto;
  background: none;
  appearance: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
